@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-de-fundo: #FF008A ;
    --cor-de-texto: #ffffff;
    --fundo-senha: #ea76f5;
    --borda: #649856;

}

*{
    font-weight: 400;
}
body{
    color: var(--cor-de-texto);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
    color: var(--cor-de-texto);
}

.conteudo-senha{
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
    background-color:var(--fundo-senha) ;
    padding: 24px;
    border-bottom: 6px solid var(--borda);
    color: var(--cor-de-texto);
}    

    #campo-senha{
    background-color: var(--fundo-texto);
    border: none;
    color: var(--cor-de-texto);
    font-size: 40px;
    margin-left: 20px;
    color: var(--cor-de-texto);
    width: 70%;
    }
    
    #campo-senha:focus{
    outline: none;
    color: var(--cor-de-texto);
    
    }
    
    .parametro-senha-botoes{
        display: flex;
        justify-content: center;
        color: var(--cor-de-texto);
    }
    
    .parametro-senha-botao{
        background-color: var(--fundo-texto);
        color: var(--branco);
        border: 2px solid var(--borda);
        padding: 24px;
        font-size: 24px;
        color: var(--cor-de-texto);
    }

    .parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
     padding: 24px;
     color: var(--cor-de-texto);
        }
    
    
    .parametro-senha--texto{
        padding: 24px;
        border-top: 2px solid var(--borda);
        border-bottom: 2px solid var(--borda);
        margin: 0;
        font-size: 24px;
    }
    
    .parametro-senha--botao{
        background-color: var(--fundo-texto);
        color: var(--branco);
        border: 2px solid var(--borda);
        padding: 24px;
        font-size: 24px;
        cursor: pointer;
        color: var(--cor-de-texto);
    }
    .parametro--coluna-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-de-texto);   
    }

    @media screen and (min-width:768px){
        .parametro--coluna-senha{
            flex-direction:row;
        }
    } 

        